<a href="https://colab.research.google.com/github/vishalsharma-jpg/test-git/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
data=[1,2,3,4,5]
series1=pd.Series(data)
series1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [0]:
import pandas as pd

In [3]:
series1.shape

(5,)

In [4]:
series1.dtype

dtype('int64')

In [6]:
type(series1)

pandas.core.series.Series

In [7]:
#Changing the index of a series object
series1=pd.Series(data,index=['a','b','c','d','e'])
series1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [0]:
# How to cerate a dataframe

**how to create a dataframe

In [11]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)     #this data frame  was created by using a list
df

   0
0  1
1  2
2  3
3  4
4  5

In [12]:
#creating a datframe using a dictionary
dictionary={'fruits':['apples','banana','mangoes'],'count':['4','5','6']}
df1=pd.DataFrame(dictionary)
df1

    fruits count
0   apples     4
1   banana     5
2  mangoes     6

In [13]:
#craeting datframe using series
series=pd.Series([6,12],index=['a','b'])
df3=pd.DataFrame(series)
df3

    0
a   6
b  12

In [15]:
#creating dataframe using a numpy array
import numpy as np
nparray=np.array([[5000,60000],['john','james']])
df4=pd.DataFrame({'name':nparray[1],'salary':nparray[0]})    #we also performed a sort of merging operation here
df4

    name salary
0   john   5000
1  james  60000

****how to perform merge operation****

In [18]:
import pandas as pd
player=['player1','player2','player3']
point=[8,9,6]
title=['g1','g2','g3']
df5=pd.DataFrame({'Player':player,'Points':point,'Title':title})  # this operation is closely similar to dataframe using a dictionary
df5

    Player  Points Title
0  player1       8    g1
1  player2       9    g2
2  player3       6    g3

In [7]:
#performing above opertaion using dictionary
dict={'player':['p1','p2','p3'],'points':[8,9,6],'Title':['g1','g2','g3']}
df6=pd.DataFrame(dict)
df6

  player  points Title
0     p1       8    g1
1     p2       9    g2
2     p3       6    g3

In [0]:
import pandas as pd

In [4]:
p=['p1','p4','p6']
pw=['punch','kick','elbow']
t=['g1','g4','g6']
df7=pd.DataFrame({'player':p,'Power':pw,'Title':t})
df7

  player  Power Title
0     p1  punch    g1
1     p4   kick    g4
2     p6  elbow    g6

In [8]:
#innermerge(merging on the basis of a common label)
df7.merge(df6)

  player  Power Title  points
0     p1  punch    g1       8

In [11]:
#another way of doing inner merge (this is the general method of doing all the merges)
df7.merge(df6,on='player',how='inner')

  player  Power Title_x  points Title_y
0     p1  punch      g1       8      g1

In [12]:
df7.merge(df6,on='Title',how='left')

  player_x  Power Title player_y  points
0       p1  punch    g1       p1     8.0
1       p4   kick    g4      NaN     NaN
2       p6  elbow    g6      NaN     NaN

In [14]:
df7.merge(df6,on='player',how='right')

  player  Power Title_x  points Title_y
0     p1  punch      g1       8      g1
1     p2    NaN     NaN       9      g2
2     p3    NaN     NaN       6      g3

In [15]:
df7.merge(df6,on='player',how='outer')

  player  Power Title_x  points Title_y
0     p1  punch      g1     8.0      g1
1     p4   kick      g4     NaN     NaN
2     p6  elbow      g6     NaN     NaN
3     p2    NaN     NaN     9.0      g2
4     p3    NaN     NaN     6.0      g3

In [0]:
import pandas as pd

In [27]:
p=['p1','p4','p6']
pw=['punch','kick','elbow']
t=['g1','g4','g6']
df7=pd.DataFrame({'player':p,'Power':pw,'Title':t},index=['L2','L3','L4'])
df7

   player  Power Title
L2     p1  punch    g1
L3     p4   kick    g4
L4     p6  elbow    g6

In [28]:
df6=pd.DataFrame(dict,index=['L1','L2','L3'])
df6

   player  points Title
L1     p1       8    g1
L2     p2       9    g2
L3     p3       6    g3

In [35]:
# innner join(conceptually join and merge are same ,join is atype of merge opertion on the basis of index labels)
import pandas as pd
df7.join(df6, how='inner')

ValueError: ignored

In [0]:
#we can also use merging in place of joining